<div class="c-teaser u-shadow u-space-vert-1">


  <div class="c-teaser__original u-inline u-float-right u-color-gray">
    <a target="_blank" href="{{urlOriginal}}">
    Original ↗
    </a>
  </div>  
  
  <a class="u-pad-s  u-block" href="{{urlAMP}}">
    {{#if emoji}}
    <span>{{emoji}}</span>
    {{/if}}
    {{title}}
  </a>
  

</div>