<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>GoAMP</title>
    <link rel="stylesheet" href="//cssmyass.glitch.me/get/u/reset/v1/">
    <link rel="stylesheet" href="//cssmyass.glitch.me/get/o/wrapper/v1/">
    <link rel="stylesheet" href="//cssmyass.glitch.me/get/u/colors/v1/%230278c2/%23963484/grey/">
    <link rel="stylesheet" href="//cssmyass.glitch.me/get/u/space/v1/10px/">
    <link rel="stylesheet" href="//cssmyass.glitch.me/get/u/shadow/v1/">
    <link rel="stylesheet" href="//cssmyass.glitch.me/get/u/text/v1/16px/2px/24px/%23111/">
    <link rel="stylesheet" href="//cssmyass.glitch.me/get/u/helpers/v1/">
    
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    {{{body}}}

</body>
</html>