<header>
  <h1>
    GoAMP
  </h1>
</header>

<main>

  <iframe src="/handelsblatt/" width="100%" height="500"></iframe>



  <iframe src="/handelsblatt/?debug=true" width="100%" height="500"></iframe>

</main>

<footer>
  <a href="https://glitch.com">
    Remix this in Glitch
  </a>
</footer>

<pre>{{{json}}}</pre>