
<div class="o-wrapper u-pad-s">


  <h1 class="u-h1 u-color-1">GoAMP</h1>

  <h2 class="u-h2">Webseiten</h2>

  {{#each pages }}
   {{> page}}
  {{/each}}




  {{#if  debug}}
    <hr>
    <pre>{{{json}}}</pre>
  {{/if}}
</div>