<header>
  <h1>
    GoAMP
  </h1>
</header>

<main>

  <iframe src="/handelsblatt/" width="300" height="200"></iframe>

  <iframe src="/handelsblatt/?debug=true" width="300" height="200"></iframe>
</main>

<footer>
  <a href="https://glitch.com">
    Remix this in Glitch
  </a>
</footer>

<pre>{{{json}}}</pre>