
<div class="o-wrapper u-pad-s">


  <h1 class="u-h1 u-color-1">AMP QA Service</h1>
 
  {{#> subtitle}}Webseiten {{#if dev}} (Test Umgebungen){{/if}}{{/subtitle}}
  
  
  {{#each pages }}
   {{> page suffix=../suffix}}
  {{/each}}




  {{#if  debug}}
    <hr>
    <pre>{{{json}}}</pre>
  {{/if}}
</div>