
<div class="o-wrapper u-pad-s">


  <h1 class="u-h1 u-color-1">GoAMP</h1>

 
  {{#> subtitle}}Webseiten{{/subtitle}}
  
  {{#each pages }}
   {{> page}}
  {{/each}}




  {{#if  debug}}
    <hr>
    <pre>{{{json}}}</pre>
  {{/if}}
</div>