


<div class="o-wrapper u-pad-s">
  <p>
  
    <a href="/{{suffix}}">〈 Startseite</a>
  
  
    <a class="u-float-right" href="#menu">Unterseiten 〉</a>
  </p>


  <a href="/{{pageId}}/"><h1 class="u-h1 u-color-1">{{page.title}}{{#if dev}} <span class="u-h5 u-muted">(Test Umg.)</span>{{/if}}</h1></a>


  {{#> subtitle}}Artikel{{/subtitle}}

  {{#each links.articles }}
    {{#if show}}
      {{> teaser pageId=../pageId debug=../debug}}
    {{/if}}
  {{/each}}


  <a name="menu"></a>
  {{#> subtitle}}Unterseiten{{/subtitle}}
  
  {{#each links.lists }}
    {{> link suffix=../suffix}}
  {{/each}}


  {{#if  debug}}
    <hr>
    <pre>{{{json}}}</pre>
  {{/if}}
  
  {{>button}}
    
</div>