

.c-teaser__original {
  margin: 5px;
}

a.c-teaser__amp:visited{
  color: #CCC;
  background-color: #F5F5F5;
}

.c-teaser--l {
  font-size: 1.2em;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top:20px;
}

.c-teaser--s {
  font-size: 0.9em;
  padding-top: 3px;
  padding-bottom: 3px;
}